.contentBox {
  margin: 0 auto;
  padding: 0;
  min-height: calc(100vh - 172px - 74px);
  max-width: 1280px
}

@media screen and (max-width: 540px) {
  .contentBox {
    min-height: calc(100vh - 253px - 74px);
  }
}
